<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @option.no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @option.answer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @option.question.name %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', {:controller => "options" ,:action => "index", :question => @option.question_id} %>
